
/**
 * 模块：tshop-um-header 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-header"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */
.tshop-um-header {background: #ABA9A9; color: black; height: 150px; width: auto;}

.tshop-um-header >div {display:block;}
 
.tshop-um-header .logo {margin: 2px 2px;float:left;width:200px;}

.tshop-um-header .logo .main-text {font-size: 24px; font-weight: 700; font-family: 'Microsoft yahei', "黑体", STHeiti,simsun,STXihei,"华文细黑",Verdana,Arial,sans-serif;}

.tshop-um-header .taobao-quanqiugou-certificate {}

.tshop-um-header .bookmark-my-shop {}