#content {
        /* background-color:#ABA9A9 ; */       
}

#hd {
        margin-bottom:0px;
}

#bd {
	      background-color:#ABA9A9;
	      color: #fff;
        margin-bottom:0px;
        height: 400px;
}

.ks-contentbox {
		    background-color: #ABA9A9  !important;
	      color: black !important;
	      border: 0px !important;
}
